.banner {
  /* background-color: red; */
  height: 74vh;
  width: 100%;
  float: right;
  /* margin-top: -81px; */
  background-image: url(../../joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
  background-size: 100% 100%;
  padding: 0;
  margin: -81px 0px 0px 0px;
}

.p {
  position: absolute;
  margin-top: 26%;
  margin-left: 22%;
  color: white;
  font-family: "Inter";
  font-weight: 700;
}

.p1 {
  position: absolute;
  margin-top: 12%;
  margin-left: 22%;
  color: white;
  font-family: "Inter";
  font-weight: 700;
}
